<!DOCTYPE html>
<html lang="jp">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="JJ1POW Ham radio QSL QSO 呼出符号 コールサイン アマチュア無線 無線局 50MHz Callsign jj1pow 鎌倉 Kamakura 極楽寺 長谷 IC-502 ICOM QSLカード QRP CW SSB デジタル簡易無線">
    <meta name="keywords" content="JJ1POW jj1pow コールサイン Callsign 呼出符号 アマチュア無線 無線局 50MHz Ham radio QSL QSO 鎌倉 Kamakura 極楽寺 長谷 IC-502 ICOM QSLカード QRP CW SSB デジタル簡易無線">
    <meta name="author" content="月山堂">

    <title>{{ .title }} </title>

    <!-- Bootstrap core CSS -->
    <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/public/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">JJ1POW, Station</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">局について</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">QSLダウンロード</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">QSLアップロード</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">最新情報</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase" >
              <strong><font color="gray">JJ1POWのサイトへようこそ</font></strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">当局へのコンタクトが難しいです。というのは、週末しかオンエアーしないし、しかも50MHzのみ、しかもqrpだから。</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">局紹介はこちら</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">JJ1POW局について</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">QTH：鎌倉市の浜エリアおよび山岳エリア、さらに江ノ島や逗子で移動運用しています。常時局は鎌倉市極楽寺です。　周波数：50MHz SSB/CW 出力：3W　リグ：井関電機製作所（ICOM）　IC-502  アンテナ: リグ内蔵のホイップアンテナ、時々自作ツエップアンテナ　電源：モバイルバッテリー＋昇圧ブースター　JARL非会員</p><br />
            <p class="text-faded mb-4">本局のQSLカードは、pdfファイル形式のカードのみ提供が可能です。本ページから貴局と交信したQSLカードをダウンロードできます。また貴局のQSLカードを、データ形式に変換してアップロードしていただけると助かります。またメールでの受付も行っています。</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">QSLダウンロード</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
          <p><font color="white">電話番号は工事中</font></p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
          <p>
            <a href="mailto:jj1pow.jp@gmail.com"><font color="white">jj1pow.jp@gmail.com</font></a>
          </p>
        </div>
      </div>


    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">QSLダウンロード</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>

      <div class="container" style="margin-left:10%;margin-right:10%;" >
        <label for="Call Sign">コールサイン　  　:</label><input type="text" name="callsign" id="txt-clsg" value="" placeholder="貴局コールサイン（６文字以内）" maxlength="6" style="width: 50%;" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset"><br />
        <label for="Call sign date">交信日(From〜To)　   :</label><br />
        <input type="text" name="fromdate" id="datepicker" value="" placeholder="書式:yyyymmdd" maxlength="8" style="width: 30%;" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset"><label for="Call sign dateT">〜</label>
        <input type="text" name="todate" id="datepicker" value="" placeholder="書式:yyyymmdd" maxlength="8" style="width: 30%;" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset"><br />
        <input class="ui-button ui-body-c ui-corner-all" style="width: 30%; padding: 10px;"  type="button" id="btn-search" value="検索" />
        <input class="ui-button ui-body-c ui-corner-all" style="width: 30%; padding: 10px;" type="button" id="btn-clear" value="クリア" />
      </div>
      <div id="mini-tail">
      </div>

<!--
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">Sturdy Templates</h3>
              <p class="text-muted mb-0">QSLダウンロードを行います</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">Ready to Ship</h3>
              <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">Up to Date</h3>
              <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">Made with Love</h3>
              <p class="text-muted mb-0">You have to make your websites with love these days!</p>
            </div>
          </div>
        </div>
      </div>
-->
    </section>

    <section class="bg-info" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">QSLアップロード</h2>
            <hr class="my-4">
            <p class="text-faded mb-4">QSLカードのファイルを選択登録して、アップロードボタンを押下してください。登録できるファイル形式は、pdf, jpeg, jpg, pngのみです。</p><br />
          </div>
        </div>
      </div>

      <div class="container" style="margin-left:5%;margin-right:5%;">
        <form id="upload_form">
        <label for="Call Sign2">コールサイン　　:</label><input type="text" name="callsignup" id="txt-upclsg" value="" placeholder="貴局のコールサインを入力（６文字以内）" maxlength="6" style="width: 50%;" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset"><br /><br />
        <button class="ui-button ui-body-c ui-corner-all" style="width: 30%; padding: 2px;" type="button" onclick="file_upload()">アップロードボタン</button>
          <input style="width: 60%; padding: 5px;" type="file" name="qslupload" accept="image/*,.pdf" >

        </form>
      </div>
      <div id="mini-tail2">
      </div>
    </section>


    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">最新情報</h2>
            <hr class="my-4">
            <p class="mb-5">開局承認日：2018/12/19  オンエアー開始日：2019/01/05（鎌倉長谷貯水池）   初QSO:2019/01/20(江ノ島にて）</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/public/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/public/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/public/js/creative.min.js"></script>
    <script src="/public/assets/qso-scrpt.js"></script>


  </body>

</html>
